{% load static %}
{% load humanize %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'store' %}">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'store' %}">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contáctanos</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="#" class="btn btn-outline-success">Login</a>

                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'image/cart.png' %}">
                </a>
                <p id="cart-total">{{order.get_cart_items}}</p>



            </div>
        </div>
    </div>
</nav>